.btn{
    background-color: $white;
    border-radius: 3rem;
    padding: 1rem 6rem;
    border-style: solid;
    border-width: 1px;
    border-color: $granite-gray;
    &:hover{
        background-color: $gray;
        color: $white;
    }
}