.contenedor{
    width: 80%;
    margin: auto;
}

.bg-dark{
    background-color: $taupe-gray;
}

.bg-snow{
    background-color: $snow;
}

.bg-footer{
    background-color: $granite-gray;
}

.bg-jelly-bean{
    background-color: $jelly-bean;
}