.contenedor{
    width: 80%;
    margin: auto;
}

.bg{
    &--dark{
    background-color: $taupe-gray;
    }
    &--snow{
        background-color: $snow;
    }
    
    &--footer{
        background-color: $granite-gray;
    }
    
    &--jelly-bean{
        background-color: $jelly-bean;
    }
}