body {
    font-family: $font-family;
    color: $granite-gray;
    font-size: $medium;
    font-weight: $text-regular;
}

.txt{
    &-md{
        font-size: $medium;
    }
      
    &-lg{
        font-size: $large;
    }
      
    &-xl{
        font-size: $x-large;
    }

    //Clases que ayudan a alinear el texto
    &-center{ 
        text-align: center; 
    }
    
    &-left{ 
        text-align: left; 
    }
    
    &-right{ 
        text-align: right; 
    }
    // Clases de ayuda para cambiar el color de texto

    &-white{ 
        color: $white; 
    }

    &-dark{ 
        color: $granite-gray; 
    }

    // Clases de ayuda para cambiar el estilo de texto

    &-light{
        font-weight: $text-light;
    }

    &-regular{
        font-weight: $text-regular;
    }

    &-bold{
        font-weight: $text-bold;
    }
}

// Clases de ayuda para cambiar mayúsculas en el texto

.upper{ 
    text-transform: uppercase; 
}