/* VARIABLES GLOBALES */
//$nombre-variable:valor;

/* COLORES */

//Paleta 1 (claros)
$white:#FFF;    //BG Y TEXTO
$snow:#FAFAFA;  //BG

//Paleta 2 (rojos)
$jelly-bean:#E56353;    //BG

//Paleta 3 (oscuros)
$granite-gray:#686963;  //BG Y TEXTO
$taupe-gray:#91918D;    //BG


/* TIPOGRAFÍAS */

$font-family:'Raleway', sans-serif;

//Typefaces
$text-bold:700;
$text-regular:400;
$text-light:200;

//Tamaños de fuente
$xx-large: 6.25rem;
$x-large: 4.375rem;
$large: 3.125rem;
$medium: 1.125rem;

