.main{
    margin: 0 auto;
    text-align: center;
    img{
        width: 90%;
        margin-top: 6rem;
    }
    div {
        padding-bottom: 1rem;
        p{
            margin: 0 $x-large*3 2rem $x-large*3;        
        }
    } 
    .espacio{
        padding: 1.5rem;
    }

    .about{
        img{
            width: 35%;
        }
    }

    .call-to-action{
        padding-bottom: 4rem;
        h2{
            font-size: $x-large*0.8;
        }
    }
}