.main{
    margin: 0 auto;
    text-align: center;
    &_img{
        width: 90%;
        margin-top: 6rem;
    }
    &_wrapper-parrafo {
        padding-bottom: 1rem;
        p{
            margin: 0 $x-large*3 2rem $x-large*3;        
        }
    } 

    &_about{
        &_img{
            width: 35%;
            margin-top: 3rem;
        }
    }

    &_call-to-action{
        padding-bottom: 4rem;
        h2{
            font-size: $x-large*0.8;
        }
    }
}